body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(240, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bp3-control.bp3-switch input:checked ~ .bp3-control-indicator {
  background-color: rgb(215, 64, 176) !important;
}

.bp3-toast-container .bp3-button-text {
  color: rgb(50, 50, 50) !important;
}

.bp3-toast-container .bp3-intent-warning {
  color: rgb(50, 50, 50) !important;
  background-color: #ffdf75 !important;
}

.bp3-toast-container .bp3-intent-warning {
  color: rgb(50, 50, 50) !important;
  background-color: #ffdf75 !important;
}

.bp3-toast-container .bp3-intent-warning .bp3-icon {
  color: transparent;
  background: transparent;
}

.bp3-toast-container .bp3-intent-warning .bp3-icon svg {
  fill: rgb(50, 50, 50) !important;
}

.bp3-popover2-content {
  color: #182026 !important;
  background: #fff !important;
}

.bp3-popover2-arrow-fill {
  color: #182026 !important;
  fill: #fff !important;
}

.bp3-dialog.bp3-dark,
.bp3-dark .bp3-dialog {
  background: #fff !important;
}

code {
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  color: rgb(244, 65, 171);
  background-color: rgb(225, 225, 225);
}
